agate==1.6.1
alembic==1.6.5
aniso8601==7.0.0
anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
attrs==21.4.0
Babel==2.9.1
black==22.3.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
coloredlogs==14.0
croniter==1.3.4
dagit==0.14.7
dagster==0.14.7
dagster-dbt==0.14.7
dagster-graphql==0.14.7
dagster-pandas==0.14.7
dbt-core==1.0.4
dbt-extractor==0.4.1
dbt-postgres==1.0.4
defusedxml==0.7.1
diff-cover==6.4.5
docstring-parser==0.13
entrypoints==0.4
gevent==21.12.0
gevent-websocket==0.10.1
gql==2.0.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.2
grpcio==1.44.0
grpcio-health-checking==1.43.0
h11==0.13.0
hologram==0.0.14
httptools==0.4.0
humanfriendly==10.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
ipython-genutils==0.2.0
isodate==0.6.1
isort==5.10.1
Jinja2==2.11.3
jinja2-simple-tags==0.3.1
jsonschema==3.1.1
jupyter-core==4.9.2
leather==0.3.4
Logbook==1.5.3
Mako==1.2.0
MarkupSafe==2.0.1
mashumaro==2.9
minimal-snowplow-tracker==0.0.2
mistune==0.8.4
msgpack==1.0.3
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.1.3
networkx==2.8
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parsedatetime==2.6
pathspec==0.9.0
pendulum==2.1.2
pep562==1.1
platformdirs==2.5.1
pluggy==1.0.0
promise==2.3
protobuf==3.20.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
py==1.11.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-editor==1.0.4
python-slugify==6.1.1
pytimeparse==1.1.8
pytz==2022.1
pytzdata==2020.1
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
Rx==1.6.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.35
sqlfluff==0.12.0
sqlfluff-templater-dbt==0.12.0
sqlparse==0.4.2
starlette==0.19.0
tabulate==0.8.9
tblib==1.7.0
testpath==0.6.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
toposort==1.7
tqdm==4.64.0
traitlets==5.1.1
typing-compat==0.1.0
typing-extensions==3.10.0.2
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchdog==2.1.7
watchgod==0.8.2
webencodings==0.5.1
websockets==10.2
Werkzeug==2.1.1
-e git+ssh://git@github.com/RMHogervorst/dagster_rpi3.git@bebbcc7b220bec9497d8e0ca924de350813f1769#egg=work&subdirectory=dagster_home
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
